<?xml version="1.0"?>
<configuration>
	<system.web>
		<sessionState mode="InProc" timeout="60"/>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx"/>
			<error statusCode="404" redirect="Error.aspx"/>
		</customErrors>
		<!--ajax请求编码-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN"/>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10000" maxQueryStringLength="1024" executionTimeout="300"/>
	</system.web>
	<!--默认数据库配置-->
	<connectionStrings>
		<!--默认数据连接串是否加密-->
		<add name="conStringEncrypt" connectionString="false"/>
		<!--默认数据连接串-->
		<add name="comConnectionString" connectionString="Data Source=sql.m240.vhostgo.com;Initial Catalog=apidahuotu;Persist Security Info=True;User ID=apidahuotu;Password=22ptxczrzm;Connect Timeout=30;Min Pool Size=300;Max Pool Size=10000;"/>
	</connectionStrings>
	<appSettings>
		<!--分页每页页数-->
		<add key="GridRows" value="50"/>
	</appSettings>
</configuration>
